.jumbotron {
  background-color: green;
  color: yellow;
  padding: 0;
  margin: 4.5rem 0 0 0;
  padding: 0 0 0 0; }

.jumbotron h1 {
  padding: 3rem 0;
  margin: 0 0 0 7rem;
  padding: 3rem 0 3rem 0;
  color: #ffd43b;
  /* -webkit-text-stroke: 1.1px #ffd43b; contorno de letra */ }

/*Input de Search Hoteles*/
#search {
  /*Contenedor del input y boton*/
  margin-left: 1rem;
  border-radius: 9999px;
  opacity: 0.8;
  box-shadow: 0 0 5px #03f; }

.searchInput {
  /* Input */
  background-color: #f1f3f5;
  border-color: #f1f3f5; }

.iconSearch {
  /*Boton*/
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  right: 1rem;
  top: 20%;
  display: block;
  cursor: pointer;
  z-index: 3; }

/* Indice del nav ul > li */
.nav-link-style {
  opacity: 0.7;
  font-weight: 500;
  color: #333;
  margin: 0 1rem 0 1rem; }

.nav-link-style:hover {
  text-decoration: none;
  color: red;
  cursor: pointer; }

.link-active {
  color: red; }

.sidebar-sticky {
  margin: 1rem; }

/* Carousel fotos de los hoteles */
.title-banner {
  font-size: 8rem;
  color: yellow; }

.carousel-caption {
  position: absolute;
  z-index: 1;
  display: table;
  width: 100%;
  height: 100%; }

.absolute-div {
  position: absolute;
  top: 65%;
  left: 14%;
  right: 30%;
  bottom: 50%; }

#carouselControls {
  margin-top: 4.5rem; }

.carousel-inner img {
  opacity: 0.5;
  width: 100%;
  max-height: 590px; }

.carousel-inner {
  height: 590px; }

/* Contenedores hijos en la seccion de hoteles */
.content-home {
  background-color: green;
  border: 1px solid #5989c3;
  border-radius: 2rem;
  margin: 0.5rem 1rem 0.5rem 0; }

.content-home:hover {
  transition: all 13s ease;
  -webkit-transform: rotateY(-360deg);
  -moz-transform: rotateY(-3600deg);
  -ms-transform: rotateY(-3600deg);
  transform: rotateY(-3600deg); }

.content-text-home {
  padding: 1rem;
  font-weight: lighter;
  color: yellow; }

.content-text-home:hover {
  color: #ffd43b; }

.card-hotel {
  /*flex: 1 150px; 
    padding: 2px 5px 2px 5px; 
    margin-top:10px*/
  margin-top: 1rem;
  margin-right: 1rem; }

.card-img img:hover {
  opacity: 0.7; }

.card-img {
  cursor: pointer;
  background-color: green; }

.btn-reserva,
.btn-modalSuscribe {
  margin: 0.5rem;
  width: 50%; }

/* Seccion de Precios*/
.tab-content {
  padding: 1rem; }

thead {
  background-color: green;
  color: yellow; }

.oi-star,
.fa-star {
  color: gold; }

.fa-user-circle {
  color: #d2d3d3;
  width: 5rem;
  height: 5rem;
  font-size: 5rem;
  margin: 1rem 1.5rem 1rem 1.5rem; }

.card-comentario {
  max-width: 520px; }

/* Seccion de footer*/
footer {
  margin-top: 5rem;
  color: yellow; }

.style-footer {
  color: #ded7bc; }

.style-footer:hover {
  text-decoration: none;
  cursor: pointer;
  color: yellow; }

.style-title {
  color: #868e96; }

#footer-top {
  /*height: 325px;*/
  padding: 1rem;
  background-color: #343a40;
  margin-top: 1rem;
  color: #ded7bc; }

#footer-bottom {
  padding: 1rem;
  background-color: #212529; }

.footer-padding-icon {
  padding-right: 8px; }

/*Colores de los iconos de redes sociales*/
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-google-plus {
  /* Desaparece los icono */
  display: none; }

.style-footer:hover .fa-facebook {
  color: #5486f3;
  display: inline-block;
  /* Hace aparecer a lado del texto */ }

.style-footer:hover .fa-twitter {
  color: #55acee;
  display: inline-block; }

.style-footer:hover .fa-instagram {
  color: #4791c7;
  display: inline-block; }

.style-footer:hover .fa-google-plus {
  color: #e94536;
  display: inline-block; }

/* Excepciones de arquitectura para el modo responsive*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .jumbotron {
    margin-top: 6rem; }
  .jumbotron h1 {
    margin: 1rem; }
  #carouselControls,
  .carousel-item,
  .carousel-control-prev,
  #carouselinner,
  .carousel-inner img {
    height: 330px; }
  .title-banner {
    font-size: 3rem; }
  .absolute-div {
    top: 72%; }
  .card-hotel {
    margin-left: 1rem; }
  .card-comentario .card-title {
    margin-top: 2rem; }
  .fa-user-circle {
    color: #d2d3d3;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    margin: 0.5rem 1rem 0.5rem 1rem; }
  .card-comentario .card-title {
    font-size: 1rem; } }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    display: block; }
  .jumbotron h1 {
    margin: 3.5rem;
    padding: 1rem 0; }
  #carouselControls,
  .carousel-item,
  .carousel-control-prev,
  #carouselinner,
  .carousel-inner img {
    height: 330px; }
  .title-banner {
    font-size: 3rem; }
  .absolute-div {
    top: 72%; } }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand {
    display: none; }
  .jumbotron h1 {
    padding: 1rem 0;
    margin: 2.5rem; }
  #carouselControls,
  .carousel-item,
  .carousel-control-prev,
  #carouselinner,
  .carousel-inner img {
    height: 330px; }
  .title-banner {
    font-size: 3rem; }
  .absolute-div {
    top: 72%; }
  .card-comentario {
    max-width: max-content; }
  .card-comentario .card-title {
    margin-top: 3rem; } }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-brand {
    display: none; }
  .jumbotron h1 {
    margin: 3rem; }
  .card-comentario {
    max-width: 430px; }
  .card-comentario .card-title {
    margin-top: 3rem; } }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .card-comentario .card-title {
    margin-top: 3rem; } }
